<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Stack Overflow questions explore</title>
<link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <form class="item" action="/" method="post">
    <input type="text" placeholder="Type in keyword" name="keyword" autocomplete="off" required pattern=".*\S+.*" />
    <button type="submit">Search</button>
  </form>
  <br>
  <%const begin = Date.now();%>

  <% for(var i=0;i< answers.length;i++) { %>
      <button type="button" class="collapsible">Title: <%= questionTitle[i]%><br>Creation day: <%= new Date(creationDay[i]*1000) %><br>Vote(s): <%= voteNum[i] %></button>
      <div class="content">
        <p class="questionBody"><b>Question body:</b> <%-questionBody[i]%></p>

        <%if(comments[i]!="Not applicable"){%>
            <%comments[i].forEach( comment=>{%>
                <p class="questionsComment"><b >Comments for the question:</b></p>
              Creation date: <%= new Date(comment.creation_date*1000)%><br>
                Vote(s): <%= comment.score%><br>
                Comment body: <%- comment.body%><br>
            <%})%>
        <%}%>

            <%if(answers[i]!="Not applicable"){%>
                <%answers[i].forEach(answer =>{%>

                  <p class="AllAnswers"><b>Question's answer</b></p>
                  Creation date: <%=  new Date(answer.creation_date*1000);%><br>
                  Vote(s): <%= answer.score%><br>
                  Answer body: <%-answer.body%><br>

                  <% if(answer.comments != undefined ){ %>
                    <%answer.comments.forEach(comment=>{%>
                       <p class="answerComment"><b >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Answer's comment</b></p>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Creation date:<%- new Date(comment.creation_date*1000)%><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vote(s): <%- comment.score%><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Answer body: <%- comment.body%><br>

                    <%})%>
                  <%}%>
                <%})%>
            <%}%>








      </div>
  <%}%>


  <% for(var i=0;i< answers2.length;i++) { %>
      <button type="button" class="collapsible">Title: <%= questionTitle2[i]%><br>Creation day: <%= new Date(creationDay2[i]*1000) %><br>Vote(s): <%= voteNum2[i] %></button>
      <div class="content">
        <p class="questionBody"><b>Question body:</b> <%-questionBody2[i]%></p>

        <%if(comments2[i]!="Not applicable"){%>
            <%comments2[i].forEach( comment2=>{%>
                <p class="questionsComment"><b >Comments for the question:</b></p>
                Creation date: <%= new Date(comment2.creation_date*1000)%><br>
                Vote(s): <%= comment2.score%><br>
                Comment body: <%- comment2.body%><br>
            <%})%>
        <%}%>

            <%if(answers2[i]!="Not applicable"){%>
                <%answers2[i].forEach(answer2 =>{%>

                  <p class="AllAnswers"><b >Question's answer</b></p>
                  Creation date: <%=  new Date(answer2.creation_date*1000);%><br>
                  Vote(s): <%= answer2.score%><br>
                  Answer body: <%-answer2.body%><br>

                  <% if(answer2.comments != undefined ){ %>
                    <%answer2.comments.forEach(comment2=>{%>
                      <p class="answerComment"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Answer's comment</b></p>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Creation date:<%- new Date(comment2.creation_date*1000)%><br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vote(s): <%- comment2.score%><br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Answer body: <%-comment2.body%><br>

                    <%})%>
                  <%}%>
                <%})%>
            <%}%>






      </div>




  <%}%>



 <p>Response time: <%=responseTime + Date.now()-begin%> ms</p>


      <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
            } else {
              content.style.display = "block";
            }
          });
        }
      </script>
</body>

</html>
